h2 {
    font-size: 2em;
    line-height: 1.1;
    text-align: center;
  }
  .home_div{
    width:60%;
    margin: auto;
  }
  .input_form{
    display: flex;
  }
  .button_div{
    display: flex;
  }
  .list_button{
    display: flex;
    margin-top: 10px;
  }
  .error-message{
    color: red;
    margin:0;
  }